<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title %></title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta name="description" content="create very small urls and retreive long urls"/>
  <meta name="description" content="REST small short url universal resource locator"/>
  <link href="/favicon.ico" rel="favicon" type="image/gif" />
  <link type="text/css" media="screen" href="/static/style.css" rel="stylesheet"/>
  <script src="/static/hurl.js" type="text/javascript"></script>
</head>
<body>
  <h1><a href="<%= @base_url %>"><%= @title %></a></h1>
  <h2>throw </h2><small>(very small)</small><h2> urls</h2>
  <br/>

    <%= @content %>

  <div id="tool">
  <h3>Add HURL to your favorite browser</h3>
  <p>Drag the <strong>HURL this link</strong> below to the bookmarks toolbar of your browser and create HURLs quickly:</p>
  <p><a href="javascript:void(location.href='<%= base_url %>api?url='+location.href)">HURL this Link</a></p>
  </div>
  <div id="about">
  <h3>About</h3>
  <p>
  Hurl goes <a href="http://camping.rubyforge.org/files/README.html">Camping</a>, <a href="http://blog.mondragon.cc/articles/2007/07/04/small-urls-with-camping">announcement &amp; source</a>.<br/><br/>
  <strong>Notice:</strong> Hurls that are being used for malicious activity will be removed without notice.<br/><br/>
  <strong>Notice:</strong> OpenID <img src="static/openid-icon.gif"> authentication through <a href="https://www.myopenid.com/">myOpenID&#153;</a> is required to create Hurls.
  </p>
  </div>
<%= @urchin %>
</body>
</html>
